.card-container {
    background-color: white;
    max-width: 350px;
    margin: 0 auto;
    font-size: 13px;
    @include border-radius(.5rem); /* using the mixins function */
    
    #drawer-photo {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center center;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }

    #profile-photo{
        width: 15%;
        border-radius: 50%;
    }

    #profile-section {
        display: flex;
        margin: 15px 0;
    }

    .hidden {
        display: none;
    }

    .profile-info {
        margin-top: 5px;
    }

    #name, #date {
        margin: 0;
    }


    .card_content, #profile-photo {
        padding: $spacing;
    }

    p {
        color: hsl(212, 23%, 69%);
    }

    h4 {
        color: hsl(214, 17%, 51%);
    }

    #share-btn {
        background-color: hsl(210, 46%, 95%);
        border: none;
        border-radius: 50%;
        width: 15%;
        height: auto;
        margin-left: 20px;
    }

    .share-section {
        display: flex;
        background-color: black;
    }

    .share-icons {

    }
}