@import 'variables';
@import 'mixins';
@import 'card';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Open+Sans&display=swap');

body {
    font-family: $fonts; /* variable usage */
    background-color: $primary-color;
    padding: $spacing;
    min-height: 100vh;
    @include flex-center(); /* using the mixins function */
}
